<% provide(:title, 'Login Failure') %>
<center>
  <br/>
<%= image_tag("logo1.png", alt: "Metaphysical Fitness") %>
<div class="subcontainer">
  <p>You have failed to login, please try to <%= link_to "log in", "#", :data => {:toggle => "modal", :target => "#myLoginModal"} %> again.</p>
</div>
</center>