<footer class="footer">
  <div style=" background-color: #ffffff;border-top: 1px solid #e7e7e7;padding: 5px;height:45px;opacity: 0.5;">
    <div style="position: absolute;right:23%;">
      <a href="https://plus.google.com/116770985039588898751" rel="publisher" style="color: #5e5e5e;" target="_blank"><img src="/assets/google-plus-icon.png" />&nbsp;Google+</a>
    </div>
  </div>
</footer>